<%= provide(:title, @book.title) %>
<h1>

  <%= @book.title %>
</h1> 
<h2>
 <%= @book.author %>
</h2>
<% if @book.picture.attached? %>

  <%= image_tag @book.picture.variant(resize: "100x100") %>

<% end %>

<%= form_for (Review.new) do |f| %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.text_field :content %>
  <%= f.submit "comment" %>
<% end %>

<% @reviews.each do |review| %>
  <%= review.user.name %>
  <%= review.content %>

<% end %>
