<%= provide(:title, @book.title) %>
<h3>

  <%= @book.title %>
</h3> 
 <% @book.author %>
<%=  @book.conten %>

<% if @book.picture.attached? %>

  <%= image_tag @book.picture.variant(resize: "100x100") %>
<% end %>

<%= @book.likes.count %> 
<%= 'like' %>
<br />
  <% if current_user.likes.find_by(book_id: @book.id) %>
    <%= link_to "Unlike",like_path(current_user.likes.find_by(book_id: @book.id)),method: :delete %>
  <% else %>
    <%= link_to "Like",likes_path(likes: {book_id: @book.id}), method: :post %>

  <% end %>

<%= form_for (Review.new) do |f| %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.text_field :content %>
  <%= f.submit "comment" %>
<% end %>
 <br />

<% @reviews.each do |review| %>
  <%= link_to review.user.name, review.user %>
  <%= review.content %>
  <%= link_to 'edit', edit_review_path(review) %>
<br />

<% end %>
